<div class="media text-muted pt-3" id="feed-<%= value[:feed].id %>">
  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <div class="w-100">
      <strong><%= I18n.t('.feed_text',
                          user: (value[:user].user_name.present? ? "#{value[:user].full_name} (#{value[:user].user_name})" : value[:user].full_name),
                          count: value[:photos].count,
                          album: value[:album].name).html_safe %></strong>
      <div class="row">
        <% value[:photos].each do |photo| %>
          <div class="photo" id="photo-<%= photo.id %>">
            <%= link_to image_tag(photo.image_url(:thumb_150).to_s), photo.image_url.to_s, data: { fancybox: value[:feed].id, caption: (render 'photos/caption', photo: photo, from_album: false, alien: true) } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
