<div class="album">
  <div class="card mb-2 box-shadow-green align-items-center">
    <a href="<%= album_path(album) %>" class="d-flex flex-column w-100 text-center">
      <%= fa_icon 'folder-open', class: 'fa-5x text-success' %>
      <span class="text-success" title="<%= album.name %>"><%= album.name %></span>
    </a>
  </div>
</div>
