<div class="photo" id="photo-<%= photo.id %>">
<%= link_to image_tag(photo.image_url(:thumb_150).to_s), photo.image_url.to_s, data: { fancybox: "photo", caption: (render 'caption', photo: photo, from_album: false) } %>
</div>
