<div class="container">
  <%= form_with scope: :photo, url: album_photos_path(@album) do |f| %>
    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, multiple: true %>
    </div>

    <div class="actions">
        <%= f.submit "Create", class: 'btn btn-primary' %>
      </div>
  <% end %>
</div>
