/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "font-awesome";
@import "fancybox";

// header and scrolaable content
html, body {
  height: 100%;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  overflow-y: auto;
  height: 100%;
  background-color: #d8d6d1;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(82, 130, 19, 0.48);
}

.album {
  a {
    word-break: break-all;
    text-decoration: none;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  a:hover {
    i, span {
      color: #007bff !important;
    }
  }

  div:hover {
    box-shadow: 0 0.25rem 0.75rem rgba(19, 74, 130, 0.48);
  }

  &:hover {
    transform: scale(1.05);

    &:after {
      opacity: 0;
    }
  }

  transition: transform 0.3s ease-in-out;
}

.create-new-album, .add-new-photos {
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 200;
}

.create-new-album:hover, .add-new-photos:hover {
  color: #007bff !important;
  -webkit-animation-name: rotatePlusButton;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotatePlusButton {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.photos {
  margin-left: 0;
  margin-right: 0;
}

.photo {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;

  span {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }

  &:hover {
    span { display: block; }
    img {
      transform:scale(1.05);
      opacity:0.7;
    }
  }

  img {
    box-shadow: 0 0.25rem 0.75rem rgba(68, 68, 68, 0.48);
  }
}

.pagination {
  justify-content: center;
}
